body {
  margin: 0;
  font-family: sans-serif, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-frame {
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: white;
  font-family: 'Roboto'
}

.app-header h1 {
  color: #5B12F5;
  font-family: 'Roboto'
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
